<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sfrit</title>
    <script src="../Sfruit/assets/js/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="../Sfruit/css/layout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>

<body>
    <!--顶部栏-->
    <div class="container">
        <div id="index_wrapper">
            <div class="cnt1" id="nav1">
                <nav class="navbar justify-content-end">
                    <span id="span1">每日优选水果</span>
                    <div class="btn-group pull-right" role="group" id="button_group">
                        <button type="button" id="denglu" class="btn btn-default" role="button">登录</button>
                        <button type="button" id="zhuce" class="btn btn-default" role="button">注册</button>
                    </div>
                </nav>
                <nav class="navbar justify-content-end">
                    <span id="span2">天天营养健康</span>
                    <form class="form-inline">
                        <div class="form-group navbar-right" id="search">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-default" id="sousuo" type="submit">搜索</button>
                        </div>
                    </form>
                </nav>
            </div>
            <!--内容-->
            <div id="index_back">
                <div id="index_content">
                    <div id="classify_content">
                        <div class="row classify">
                            <div id="shop" class="col-md-2 classify_title">商家</div>
                            <ul id="shopper" class="col-md-10 nav nav-pills classify_detail" role="tablist">
                                <li class="col-md-3 nav-item" v-for="shop in shoppers">
                                    <a class="nav-link" @click="choseshop()" font-size="0.8em" role="tab" data-toggle="tab" aria-controls="shooper1">{{shop.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row classify">
                            <div class="col-md-2 classify_title">种类</div>
                            <ul id="kinds" class="col-md-10 nav nav-pills classify_detail">
                                <li class="col-md-3 nav-item" v-for="kind in kinds">
                                    <a class="nav-link" href="#" font-size="0.8em">{{kind.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row classify">
                            <div class="col-md-2 classify_title">国产/进口</div>
                            <div class="col-md-10 nav nav-pills classify_detail">
                                <div class="col-md-3 nav-item">
                                    <a class="nav-link" href="#" font-size="0.8em">国产</a>
                                </div>
                                <div class="col-md-3 nav-item">
                                    <a class="nav-link" href="#" font-size="0.8em">进口</a>
                                </div>
                            </div>
                        </div>
                        <div class="row classify">
                            <div class="col-md-2 classify_title">原产地</div>
                            <ul id="country" class="col-md-10 nav nav-pills classify_detail">
                                <li class="col-md-3 nav-item" v-for="country in countrys">
                                    <a class="nav-link" href="#" font-size="0.8em">{{country.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="fruits" class="card-deck">
                        <div class="card" v-for="fruit in fruits" @click="chosefruit(fruit)">
                            <img class="card-img-top" :src="fruit.src" lt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{fruit.name}}</h5>
                                <p class="card-text">{{fruit.jieshao}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer text-center">
        版权所有 @2018软工小组 保留所有权利
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="../Sfruit/js/index.js"></script>
</body>

</html>