html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
}

.cnt1 {
    background-color: #89815d;
    background-image: url(../../Images/top.png);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 3%;
    padding-bottom: 3%;
}

#search {
    background-color: rgba(245, 245, 245, 0.7);
}

#button_group {
    background-color: rgba(245, 245, 245, 0.7);
}

.footer {
    border-top: 1px solid #e5e5e5;
    color: #777;
    padding: 19px 0;
    background-color: #f5f5f5;
    position: absolute;
    width: 100%;
    height: 50px;
    opacity: 0.8;
}

.navbar {
    padding-right: 15px;
    padding-top: 15px;
}

#nav1 .btn {
    background: transparent;
    transition: all 0.3s;
}


/*.list-group {
    margin-top: 10px;
}*/

.list-group1 {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.list-group2 {
    display: flex;
}

li {
    flex: auto;
}

#fruits>div {
    flex: 0 0 21.3%;
}

.card {
    margin: 10px;
}

ul {
    list-style: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.wrapper {
    width: 100%;
    /*height:100%;*/
    margin: 0 auto;
    display: inline-block;
    /*background-color: #990000;*/
}

#login_background {
    background-image: url(../../Images/back_login.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: 80% 100%;
    height: 100%;
}

.card-img-top {
    height: 200px;
}

#login_content {
    position: relative;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 60%;
    text-align: center;
    display: block;
}

#user_pic {
    border-radius: 50%;
    width: 10%;
    margin: 0 auto;
}

.myinput {
    display：inline-block;
    margin-top: 2%;
}

.myinput input {
    background-color: #FFFFFF;
    opacity: 0.7;
    width: 30%;
    padding-bottom: 0.3%;
    padding-top: 0.3%;
    display: inline-block;
}

#user_choose {
    margin-top: 2%;
    display：inline-block;
}

#user_choose a {
    text-decoration: none;
    color: #FFFFFF;
    font-style: bold;
    margin-left: 5%;
    padding: 0.3%;
    margin-right: 5%;
}

#forget {
    background-color: #c3a6a6;
}

#toregister {
    background-color: #99b8cd;
}

#login,
#register {
    margin-top: 2%;
    background-color: #41433c;
    opacity: 0.7;
    width: 35%;
    height: 15%;
    color: #FFFFFF;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
}

#register_background {
    background-image: url(../../Images/back_register.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: 80% 100%;
    height: 100%;
}

#register_content {
    position: relative;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 60%;
    text-align: center;
}

#user_check {
    margin-top: 2%;
    display：inline-block;
}

.check {
    display: inline;
    padding: 1%;
    font-style: bold;
}

.check span {
    background-color: #a99184;
    padding: 0.3%;
}


/*index*/

#index_wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.justify-content-end span {
    color: #350a19;
    font-size: 1.5em;
    display: inline;
}

#span1 {
    margin-right: 60%;
}

#span2 {
    margin-right: 35%;
}

#index_back {
    width: 100%;
    height: 100%;
    background-color: #eceeec;
}

#index_content {
    width: 80%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.classify {
    display: block;
    height: 100%;
}

.classify_title {
    display: inline-block;
    border-style: solid;
    border-color: #938c6e;
    background-color: #cdc1c0;
    text-align: center;
    font-size: 1em;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

.classify_detail {
    display: inline-block;
    font-size: 1em;
    border-style: solid;
    border-color: #938c6e;
    text-align: center;
}

.classify_detail a {
    color: #000000;
}


/*shopping cart*/

#shoppingcart_wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #e6eaeb;
}

#shoppingcart_top {
    width: 100%;
    background-image: url(../../Images/top_shoppingcart.png);
    background-size: 100% 100%;
    background-position: center 0;
    background-repeat: no-repeat;
    display: inline-block;
    padding-top: 15%;
    padding-left: 3%;
}

#shoppingcart_top img {
    margin-left: 2%;
}

#shoppingcart_top span {
    color: #95B579;
    margin-left: 2%;
    font-style: bold;
    padding: 0.2% 0.3% 0.2% 0.3%;
    background-color: #FFFFFF;
}

#shoppingcart_content {
    margin: 0 auto;
    padding: 5%;
}

#notice {
    padding: 0.8%;
    font-style: bold;
    background-color: #e2dcc5;
    display: inline-block;
}

.card_cart {
    margin-top: 5%;
}

.cart_img {
    padding-right: 0;
    padding-left: 4%;
}

.cart_img img {
    width: 100%;
    height: 100%;
}

.cart_detail {
    text-align: center;
}

.cart_title {
    height: 33.3%;
    background-color: #f8f8f8;
}

.cart_content {
    height: 66.7%;
    background-color: #cfd4b2;
    padding-top: 3%;
}

.cart_delete {
    margin: 0 auto;
}

.cart_deletediv {
    height: 100%;
    width: 80%;
    background-color: #e0d6d6;
    text-align: center;
    padding-top: 27%;
}

#cart_confirm {
    width: 100%;
    text-align: center;
    padding-bottom: 5%
}

#confirm_pay {
    font-size: 1.3em;
    border-style: solid;
    border-color: #bbbbbb;
    background-color: #e7d4d5;
    color: #790707;
    font-style: bold;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#total {
    font-size: 1.3em;
}


/*details*/

#detailwrapper {
    margin-bottom: 5%;
}

#details_wrapper {
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    background-color: #efeee4;
    padding-bottom: 5%;
}

#title_details {
    display: inline-block;
    width: 100%;
    background-color: #f4f4ef;
    padding: 1.5% 2% 1.5% 2%;
    color: #a7c05f;
    font-size: 1.2em;
}

#details_content {
    width: 85%;
    margin: 0 auto;
}

#detail1 {
    height: 100%;
    width: 100%;
    margin-top: 7%;
}

#details_img_box {
    height: 210px;
}

#details_img_box img {
    width: 100%;
    height: 100%;
}

#details_explain {
    text-align: center;
}

#details_name {
    font-size: 2em;
}

#details_check {
    padding-top: 7%;
    font-size: 1.5em;
    width: 100%;
}

#details_check span,
img {
    margin-right: 2%;
}

#details_count {
    border-color: #000000;
    border-style: solid;
    background-color: #FFFFFF;
    padding: 0.5% 7% 0.5% 7%;
}

#details_buttons {
    padding-top: 10%;
    width: 100%;
}

#details_buttons span {
    width: 50%;
    color: #55895a;
    background-color: #d0ebe0;
    border-style: solid;
    border-color: #BBBBBB;
    margin-left: 5%;
    padding: 1% 6% 1% 6%;
    font-size: 1.5em;
}

#detail2 {
    width: 100%;
    margin-top: 5%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #d3ede8;
    font-size: 2em;
    color: #000000;
    border-style: solid;
    border-color: #101010;
}

.img-thumbnail {
    height: 60px;
    width: 60px;
}