.btn-square {
    cursor: pointer;
    text-align: center;
    background-color: rgba(30, 208, 186, 0.3);
    border: 3px dashed rgba(255, 106, 0, 0.7);
}

.btn-round {
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.6);
    border: 3px solid rgba(255, 216, 0, 0.7);
    border-radius: 50px;
}

.portrait {
    margin: auto;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.info-list {
    border: 3px dashed rgba(255, 216, 0, 0.7);
}

.icon {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 0;
    height: 40px;
    width: 40px;
    background-color: black;
}

.bg {
    height: 100%;
    background-size: 100% !important;
    background-repeat: no-repeat;
}

.address-box {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid lightgray;
    border-top: 10px solid lightgray;
}

.breadcrumb li {
    font-size: 24px;
}

.btn-icon {
    cursor: pointer;
}

.choose{
    padding-top: 3.5%;
    font-size: 1.2em;
    font-style: bold;
}

#addaddress_top {
    width: 100%;
    background-size: 100% 100%;
    background-position: center 0;
    background-repeat: no-repeat;
    display: inline-block;
    padding-top: 5%;
    padding-left: 3%;
    padding-bottom: 15%;
    color: #ACAA57;
    font-size: 1.2em;
}

#addaddress_top img, #buyerinfo_top img{
    margin-left: 2%;
}
#addaddress_top span, #buyerinfo_top span {
    margin-left: 2%;
    font-style: bold;
    font-size: 1.1em;
    padding: 0.2% 0.3% 0.2% 0.3%;
    background-color: #FFFFFF;
}

#buyerinfo_top{
    width: 100%;
    background-size: 100% 100%;
    background-position: center 0;
    background-repeat: no-repeat;
    display: inline-block;
    padding-top: 5%;
    padding-left: 3%;
    padding-bottom: 15%;
    color: #F5C243;
    font-size: 1.2em;
}

.info{
    padding-top: 2%;
    padding-bottom: 1%;
    border-bottom-style: solid;
    border-color: #BBBBBB;
    border-width: 1px;
}

.info h2{
    font-size: 1.2em;
}